service: memes-as-a-service
# app and org for use with dashboard.serverless.com
#app: your-app-name
#org: your-org-name

# You can pin your service to only deploy with a specific Serverless version
# Check out our docs for more details
# frameworkVersion: "=X.X.X"

provider:
  name: scaleway
  runtime: node10
  stage: prod
  env:
    IMAGES_DIR: ./images/
    TEXT_SIZE: "50"
    TEXT_PADDING: "40"

plugins:
  - serverless-scaleway-functions
  - serverless-offline-scaleway

package:
  exclude:
    # - node_modules/**
    - .gitignore
    - .git/**
    - .vscode/**


functions:
  meme:
    handler: handler.meme
    # events:
    #   - http:
    #       path: /
    #       method: get